* { font-family: Verdana, sans-serif }

h1 { font-size: 15px; padding: 0; margin: 0; }

.saveMap {
    cursor: pointer;
    text-align: center;
}

.row, .row-form {
    display: table;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.text {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.d, .f, .r, .w, x, .e, .b, .c, .g, 
.hg, .tr, .ws, .ww, .sld, .cell, .lt
{ 
    display: table-cell;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 18px; 
    height: 18px;
    min-height: 18px;
    min-width: 18px; 
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    margin: 0; 
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    padding-top: 3px;
    text-align: center;
    cursor: hand;
}

.cell { width: 110px; text-align: left; font-size: 11px; }

.r { background-color: #999999; }
.f { background-color: #F5DEB3; } 
.w { background-color: #00FFFF; }
.e { background-color: #FFFFFF; }
.b { background-color: #FF0000; }
.c { background-color: #FFFF00; }
.g { background-color: #EFEFEF; }
.hg { background-color: #66DD66; }
.tr { background-color: #33EE33; }
.ws { background-color: #666666; color: #FFFFFF; }
.ww { background-color: #6D6036; color: #FFFFFF; }
.lt { background-color: #FFDB00; color: #000000; }

.tb { border-top: 1px solid red; }
.bb { border-bottom: 1px solid red; }
.lb { border-left: 1px solid red; }
.rb { border-right: 1px solid red; }

.sld { border: dashed 1px red; }

.e:hover { background-color: #EFEFEF; }

.north_cell, .south_cell, .west_cell, .east_cell {
    background-color: #EEEEEE; border: 1px solid #CCCCCC; font-weight: 500;
}

#legendForm {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 170px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

#close { cursor: hand; position: absolute; right: 10px; }
#form { font-size: 11px; }

body {
    margin: 0;
}

#header {
    padding: 20px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}


#mapForm {
    height: 400px;
    overflow-y: scroll;
}

.mapTitle {
    font-size: 120%;
    border: none;
    width: 700px;
    padding: 6px;
}

.mapPassword {
    float: left;
    display: block;
    margin-top: 8px;
    margin-left: 8px;
    padding: 3px;
    height: 20px;
}

#mapMessages, #mapKey {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#mapError {
    color: #FF0000;
}

#mapKey {
    color: gold;
    padding: 14px 0 14px 16px;
}

#mapNew {
    color: royalblue;
    padding: 10px!important;
    font-size: 22px!important;
}
	

.ca { background-color: #FF3855 }
.cb { background-color: #FD3A4A }
.cc { background-color: #FB4D46 }
.cd { background-color: #FA5B3D }
.ce { background-color: #FFAA1D }
.cf { background-color: #FFF700 }
.cg { background-color: #299617}
.ch { background-color: #A7F432 }
.ci { background-color: #2243B6 }
.cj { background-color: #5DADEC }
.ck { background-color: #5946B2 }
.cl { background-color: #9C51B6 }
.cm { background-color: #A83731 }
.cn { background-color: #AF6E4D }
.co { background-color: #1B1B1B }
.cp { background-color: #BFAFB2 }
.cq { background-color: #FF5470 }
.cr { background-color: #FFDB00 }
.cs { background-color: #FF7A00 }
.ct { background-color: #FDFF00 }
.cu { background-color: #87FF2A }
.cv { background-color: #87FF2A }
.cw { background-color: #0048BA }
.cx { background-color: #0048BA }
.cy { background-color: #FF007C }
.cz { background-color: #E936A7 }


label.radiobox {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiobox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.cbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobox input:checked ~ .cbox:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiobox .cbox:after {
    top: 7px;
    left: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.colors { height: 25px; }

.e, .r, .f, .w, .c, .g,
.hg, .tr, .ws, .ww, .lt,
.ca, .cb, .cc, .cd, .ce, .cf, .cg, .ch, 
.ci, .cj, .ck, .cl, .cm, .cn, .co, .cp,
.cq, .cr, .cs, .ct, .cu, .cv, .cw, .cx,
.cy, .cz {
    animation-duration: 1s;
    animation-name: rotateY;
    animation-iteration-count: 1;
  }
  
@keyframes rotateY {
    from {
    }

    to {
        -webkit-transform: rotateY(360deg); /* Safari */
        transform: rotateY(360deg);
    }
}

/* DMC floss colors */

.dmc150 { background-color: rgb(170, 2, 73); }
.dmc151 { background-color: rgb(255, 203, 215); } 
.dmc152 { background-color: rgb(225, 161, 161); } 
.dmc153 { background-color: rgb(234, 197, 235); } 
.dmc154 { background-color: rgb(75, 35, 58); } 
.dmc155 { background-color: rgb(151, 116, 182); } 
.dmc156 { background-color: rgb(133, 119, 180); } 
.dmc157 { background-color: rgb(181, 184, 234); } 
.dmc158 { background-color: rgb(57, 48, 104); } 
.dmc159 { background-color: rgb(188, 181, 222); } 
.dmc160 { background-color: rgb(129, 120, 169); } 
.dmc161 { background-color: rgb(96, 86, 139); } 
.dmc162 { background-color: rgb(202, 231, 240); } 
.dmc163 { background-color: rgb(85, 122, 96); } 
.dmc164 { background-color: rgb(186, 228, 182); } 
.dmc165 { background-color: rgb(225, 244, 119); } 
.dmc166 { background-color: rgb(173, 194, 56); } 
.dmc167 { background-color: rgb(133, 93, 49); } 
.dmc168 { background-color: rgb(177, 174, 183); } 
.dmc169 { background-color: rgb(130, 125, 125); } 
.dmc208 { background-color: rgb(148, 66, 167); } 
.dmc209 { background-color: rgb(186, 114, 198); } 
.dmc210 { background-color: rgb(212, 159, 225); } 
.dmc211 { background-color: rgb(229, 189, 237); } 
.dmc221 { background-color: rgb(121, 38, 49); } 
.dmc223 { background-color: rgb(187, 104, 100); } 
.dmc224 { background-color: rgb(226, 165, 152); } 
.dmc225 { background-color: rgb(248, 217, 205); } 
.dmc300 { background-color: rgb(108, 49, 22); } 
.dmc301 { background-color: rgb(170, 82, 55); } 
.dmc3011 { background-color: rgb(101, 89, 53); } 
.dmc3012 { background-color: rgb(139, 123, 78); } 
.dmc3013 { background-color: rgb(175, 169, 123); } 
.dmc3021 { background-color: rgb(80, 64, 59); } 
.dmc3022 { background-color: rgb(132, 130, 116); } 
.dmc3023 { background-color: rgb(162, 155, 134); } 
.dmc3024 { background-color: rgb(190, 184, 172); } 
.dmc3031 { background-color: rgb(66, 48, 20); } 
.dmc3032 { background-color: rgb(157, 136, 104); } 
.dmc3033 { background-color: rgb(219, 199, 173); } 
.dmc304 { background-color: rgb(161, 12, 57); } 
.dmc3041 { background-color: rgb(134, 106, 118); } 
.dmc3042 { background-color: rgb(175, 152, 160); } 
.dmc3045 { background-color: rgb(175, 129, 82); } 
.dmc3046 { background-color: rgb(206, 176, 116); } 
.dmc3047 { background-color: rgb(234, 216, 171); } 
.dmc3051 { background-color: rgb(76, 76, 30); } 
.dmc3052 { background-color: rgb(120, 126, 92); } 
.dmc3053 { background-color: rgb(153, 157, 117); } 
.dmc3064 { background-color: rgb(186, 112, 86); } 
.dmc307 { background-color: rgb(253, 233, 73); } 
.dmc3072 { background-color: rgb(210, 210, 202); } 
.dmc3078 { background-color: rgb(252, 246, 182); } 
.dmc309 { background-color: rgb(186, 32, 68); } 
.dmc310 { background-color: rgb(0, 0, 0); } 
.dmc311 { background-color: rgb(0, 42, 100); } 
.dmc312 { background-color: rgb(31, 50, 121); } 
.dmc315 { background-color: rgb(125, 66, 70); } 
.dmc316 { background-color: rgb(188, 117, 127); } 
.dmc317 { background-color: rgb(109, 100, 105); } 
.dmc318 { background-color: rgb(153, 155, 157); } 
.dmc319 { background-color: rgb(58, 85, 59); } 
.dmc320 { background-color: rgb(159, 180, 118); } 
.dmc321 { background-color: rgb(189, 17, 54); } 
.dmc322 { background-color: rgb(58, 96, 157); } 
.dmc326 { background-color: rgb(172, 28, 55); } 
.dmc327 { background-color: rgb(94, 15, 119); } 
.dmc3325 { background-color: rgb(173, 205, 231); }
.dmc3326 { background-color: rgb(249, 151, 156); }
.dmc3328 { background-color: rgb(190, 68, 74); }
.dmc333 { background-color: rgb(181, 107, 173); } 
.dmc334 { background-color: rgb(96, 133, 184); } 
.dmc3340 { background-color: rgb(253, 107, 79); } 
.dmc3341 { background-color: rgb(253, 142, 120); } 
.dmc3345 { background-color: rgb(64, 85, 46); } 
.dmc3346 { background-color: rgb(86, 116, 59); } 
.dmc3347 { background-color: rgb(109, 150, 70); } 
.dmc3348 { background-color: rgb(190, 223, 116); } 
.dmc335 { background-color: rgb(214, 61, 87); } 
.dmc3350 { background-color: rgb(170, 57, 73); } 
.dmc3354 { background-color: rgb(239, 165, 172); } 
.dmc336 { background-color: rgb(12, 39, 94); } 
.dmc3362 { background-color: rgb(73, 82, 60); } 
.dmc3363 { background-color: rgb(97, 116, 81); } 
.dmc3364 { background-color: rgb(142, 155, 109); } 
.dmc3371 { background-color: rgb(54, 34, 14); } 
.dmc340 { background-color: rgb(153, 109, 195); } 
.dmc341 { background-color: rgb(163, 154, 215); } 
.dmc347 { background-color: rgb(171, 27, 51); } 
.dmc349 { background-color: rgb(198, 44, 56); } 
.dmc350 { background-color: rgb(222, 63, 64); } 
.dmc351 { background-color: rgb(237, 98, 91); } 
.dmc352 { background-color: rgb(247, 131, 114); } 
.dmc353 { background-color: rgb(253, 180, 161); } 
.dmc355 { background-color: rgb(151, 56, 43); } 
.dmc356 { background-color: rgb(190, 92, 75); } 
.dmc3607 { background-color: rgb(217, 76, 157); } 
.dmc3608 { background-color: rgb(236, 129, 190); } 
.dmc3609 { background-color: rgb(246, 176, 223); } 
.dmc367 { background-color: rgb(68, 107, 69); } 
.dmc368 { background-color: rgb(136, 159, 114); } 
.dmc3685 { background-color: rgb(121, 38, 59); } 
.dmc3687 { background-color: rgb(135, 42, 67); } 
.dmc3688 { background-color: rgb(220, 124, 134); } 
.dmc3689 { background-color: rgb(248, 187, 200); } 
.dmc369 { background-color: rgb(205, 239, 166); } 
.dmc370 { background-color: rgb(145, 114, 69); } 
.dmc3705 { background-color: rgb(242, 73, 79); } 
.dmc3706 { background-color: rgb(253, 110, 112); } 
.dmc3708 { background-color: rgb(253, 160, 174); } 
.dmc371 { background-color: rgb(159, 131, 82); } 
.dmc3712 { background-color: rgb(217, 93, 93); } 
.dmc3713 { background-color: rgb(253, 213, 208); } 
.dmc3716 { background-color: rgb(252, 175, 185); } 
.dmc372 { background-color: rgb(173, 149, 100); } 
.dmc3721 { background-color: rgb(147, 59, 61); } 
.dmc3722 { background-color: rgb(160, 75, 76); } 
.dmc3726 { background-color: rgb(149, 86, 92); } 
.dmc3727 { background-color: rgb(218, 158, 166); } 
.dmc3731 { background-color: rgb(195, 76, 92); } 
.dmc3733 { background-color: rgb(234, 126, 134); } 
.dmc3740 { background-color: rgb(113, 83, 93); } 
.dmc3743 { background-color: rgb(207, 194, 201); } 
.dmc3746 { background-color: rgb(132, 74, 181); } 
.dmc3747 { background-color: rgb(208, 197, 236); } 
.dmc3750 { background-color: rgb(29, 69, 82); } 
.dmc3752 { background-color: rgb(186, 201, 204); } 
.dmc3753 { background-color: rgb(217, 230, 236); } 
.dmc3755 { background-color: rgb(129, 165, 216); } 
.dmc3756 { background-color: rgb(233, 244, 250); } 
.dmc3760 { background-color: rgb(70, 114, 147); } 
.dmc3761 { background-color: rgb(177, 208, 223); } 
.dmc3765 { background-color: rgb(23, 94, 120); } 
.dmc3766 { background-color: rgb(75, 138, 161); } 
.dmc3768 { background-color: rgb(76, 96, 95); } 
.dmc3770 { background-color: rgb(254, 241, 216); } 
.dmc3771 { background-color: rgb(232, 172, 155); } 
.dmc3772 { background-color: rgb(153, 87, 68); } 
.dmc3774 { background-color: rgb(243, 207, 180); } 
.dmc3776 { background-color: rgb(201, 100, 68); } 
.dmc3777 { background-color: rgb(146, 47, 37); } 
.dmc3778 { background-color: rgb(210, 112, 92); } 
.dmc3779 { background-color: rgb(242, 171, 149); } 
.dmc3781 { background-color: rgb(89, 63, 43); } 
.dmc3782 { background-color: rgb(182, 157, 128); } 
.dmc3787 { background-color: rgb(98, 82, 76); } 
.dmc3790 { background-color: rgb(109, 90, 75); } 
.dmc3799 { background-color: rgb(57, 57, 61); } 
.dmc3801 { background-color: rgb(228, 53, 61); } 
.dmc3802 { background-color: rgb(103, 42, 51); } 
.dmc3803 { background-color: rgb(135, 42, 67); } 
.dmc3804 { background-color: rgb(206, 43, 99); } 
.dmc3805 { background-color: rgb(223, 60, 115); } 
.dmc3806 { background-color: rgb(241, 90, 145); } 
.dmc3807 { background-color: rgb(75, 89, 158); } 
.dmc3808 { background-color: rgb(60, 105, 136); } 
.dmc3809 { background-color: rgb(19, 106, 117); } 
.dmc3810 { background-color: rgb(45, 141, 152); } 
.dmc3811 { background-color: rgb(168, 226, 229); } 
.dmc3812 { background-color: rgb(7, 161, 132); } 
.dmc3813 { background-color: rgb(134, 195, 171); } 
.dmc3814 { background-color: rgb(11, 134, 115); } 
.dmc3815 { background-color: rgb(67, 114, 89); } 
.dmc3816 { background-color: rgb(96, 147, 122); } 
.dmc3817 { background-color: rgb(129, 198, 164); } 
.dmc3818 { background-color: rgb(0, 93, 46); } 
.dmc3819 { background-color: rgb(204, 201, 89); } 
.dmc3820 { background-color: rgb(219, 165, 62); } 
.dmc3821 { background-color: rgb(235, 187, 82); } 
.dmc3822 { background-color: rgb(247, 209, 105); } 
.dmc3823 { background-color: rgb(254, 245, 205); } 
.dmc3824 { background-color: rgb(252, 174, 153); } 
.dmc3825 { background-color: rgb(254, 163, 112); } 
.dmc3826 { background-color: rgb(177, 102, 51); } 
.dmc3827 { background-color: rgb(234, 166, 100); } 
.dmc3828 { background-color: rgb(170, 124, 67); } 
.dmc3829 { background-color: rgb(167, 103, 29); } 
.dmc3830 { background-color: rgb(169, 65, 56); } 
.dmc3831 { background-color: rgb(193, 43, 82); } 
.dmc3832 { background-color: rgb(227, 99, 112); } 
.dmc3833 { background-color: rgb(234, 139, 150); } 
.dmc3834 { background-color: rgb(106, 34, 88); } 
.dmc3835 { background-color: rgb(146, 77, 120); } 
.dmc3836 { background-color: rgb(197, 151, 185); } 
.dmc3837 { background-color: rgb(138, 42, 143); } 
.dmc3838 { background-color: rgb(96, 107, 173); } 
.dmc3839 { background-color: rgb(122, 126, 197); } 
.dmc3840 { background-color: rgb(178, 189, 234); } 
.dmc3841 { background-color: rgb(217, 234, 242); } 
.dmc3842 { background-color: rgb(6, 80, 106); } 
.dmc3843 { background-color: rgb(40, 163, 222); } 
.dmc3844 { background-color: rgb(31, 127, 160); } 
.dmc3845 { background-color: rgb(43, 173, 209); } 
.dmc3846 { background-color: rgb(94, 204, 236); } 
.dmc3847 { background-color: rgb(24, 99, 88); } 
.dmc3848 { background-color: rgb(32, 126, 114); } 
.dmc3849 { background-color: rgb(53, 177, 147); } 
.dmc3850 { background-color: rgb(32, 139, 70); } 
.dmc3851 { background-color: rgb(97, 187, 132); } 
.dmc3852 { background-color: rgb(227, 167, 48); } 
.dmc3853 { background-color: rgb(239, 129, 37); } 
.dmc3854 { background-color: rgb(253, 223, 160); } 
.dmc3855 { background-color: rgb(253, 223, 160); } 
.dmc3856 { background-color: rgb(253, 190, 142); } 
.dmc3857 { background-color: rgb(106, 47, 38); } 
.dmc3858 { background-color: rgb(186, 122, 108); } 
.dmc3859 { background-color: rgb(128, 58, 50); } 
.dmc3860 { background-color: rgb(137, 99, 98); } 
.dmc3861 { background-color: rgb(172, 133, 131); } 
.dmc3862 { background-color: rgb(110, 73, 42); } 
.dmc3863 { background-color: rgb(110, 73, 42); } 
.dmc3864 { background-color: rgb(201, 170, 146); } 
.dmc3865 { background-color: rgb(255, 253, 249); } 
.dmc3866 { background-color: rgb(240, 230, 215); } 
.dmc400 { background-color: rgb(129, 55, 24); } 
.dmc402 { background-color: rgb(239, 158, 116); } 
.dmc407 { background-color: rgb(183, 113, 89); } 
.dmc413 { background-color: rgb(74, 71, 73); } 
.dmc414 { background-color: rgb(118, 110, 114); } 
.dmc415 { background-color: rgb(184, 185, 189); } 
.dmc420 { background-color: rgb(133, 90, 48); } 
.dmc422 { background-color: rgb(201, 154, 103); } 
.dmc433 { background-color: rgb(115, 66, 30); } 
.dmc434 { background-color: rgb(143, 83, 50); } 
.dmc435 { background-color: rgb(169, 101, 56); } 
.dmc436 { background-color: rgb(199, 133, 89); } 
.dmc437 { background-color: rgb(218, 162, 111); } 
.dmc444 { background-color: rgb(245, 188, 19); } 
.dmc445 { background-color: rgb(252, 249, 153); } 
.dmc451 { background-color: rgb(136, 119, 115); } 
.dmc452 { background-color: rgb(173, 153, 148); } 
.dmc453 { background-color: rgb(204, 184, 170); } 
.dmc469 { background-color: rgb(91, 101, 51); } 
.dmc470 { background-color: rgb(114, 129, 62); } 
.dmc471 { background-color: rgb(158, 179, 87); } 
.dmc472 { background-color: rgb(209, 222, 117); } 
.dmc498 { background-color: rgb(151, 11, 44); } 
.dmc500 { background-color: rgb(29, 54, 42); } 
.dmc501 { background-color: rgb(47, 84, 70); } 
.dmc502 { background-color: rgb(87, 130, 110); } 
.dmc503 { background-color: rgb(137, 184, 159); } 
.dmc504 { background-color: rgb(105, 143, 118); } 
.dmc505 { background-color: rgb(68, 107, 69); } 
.dmc517 { background-color: rgb(33, 98, 133); } 
.dmc518 { background-color: rgb(80, 129, 156); } 
.dmc519 { background-color: rgb(148, 183, 203); } 
.dmc520 { background-color: rgb(56, 69, 38); } 
.dmc522 { background-color: rgb(128, 139, 110); } 
.dmc523 { background-color: rgb(149, 159, 122); } 
.dmc524 { background-color: rgb(174, 167, 142); } 
.dmc535 { background-color: rgb(75, 75, 73); } 
.dmc543 { background-color: rgb(234, 208, 181); } 
.dmc550 { background-color: rgb(88, 14, 92); } 
.dmc552 { background-color: rgb(144, 47, 153); } 
.dmc553 { background-color: rgb(164, 73, 172); } 
.dmc554 { background-color: rgb(220, 156, 222); } 
.dmc561 { background-color: rgb(40, 94, 72); } 
.dmc562 { background-color: rgb(59, 140, 90); } 
.dmc563 { background-color: rgb(110, 211, 154); } 
.dmc564 { background-color: rgb(149, 228, 175); } 
.dmc580 { background-color: rgb(97, 91, 32); } 
.dmc581 { background-color: rgb(131, 138, 41); } 
.dmc597 { background-color: rgb(82, 173, 171); } 
.dmc598 { background-color: rgb(151, 216, 211); } 
.dmc600 { background-color: rgb(191, 28, 72); } 
.dmc601 { background-color: rgb(198, 42, 83); } 
.dmc602 { background-color: rgb(214, 63, 104); } 
.dmc603 { background-color: rgb(237, 93, 132); } 
.dmc604 { background-color: rgb(247, 147, 178); } 
.dmc605 { background-color: rgb(251, 172, 196); } 
.dmc606 { background-color: rgb(247, 15, 0); } 
.dmc608 { background-color: rgb(253, 72, 12); } 
.dmc610 { background-color: rgb(107, 80, 57); } 
.dmc611 { background-color: rgb(124, 95, 70); } 
.dmc612 { background-color: rgb(166, 136, 94); } 
.dmc613 { background-color: rgb(185, 159, 114); } 
.dmc632 { background-color: rgb(127, 66, 50); } 
.dmc640 { background-color: rgb(129, 120, 104); } 
.dmc642 { background-color: rgb(149, 141, 121); } 
.dmc644 { background-color: rgb(196, 190, 166); } 
.dmc645 { background-color: rgb(93, 93, 84); } 
.dmc646 { background-color: rgb(107, 104, 96); } 
.dmc647 { background-color: rgb(144, 142, 133); } 
.dmc648 { background-color: rgb(167, 166, 159); } 
.dmc666 { background-color: rgb(206, 27, 51); } 
.dmc676 { background-color: rgb(236, 191, 125); } 
.dmc677 { background-color: rgb(242, 220, 159); } 
.dmc680 { background-color: rgb(176, 123, 70); } 
.dmc699 { background-color: rgb(7, 91, 38); } 
.dmc700 { background-color: rgb(7, 108, 52); } 
.dmc701 { background-color: rgb(33, 124, 54); } 
.dmc702 { background-color: rgb(55, 145, 48); } 
.dmc703 { background-color: rgb(99, 179, 48); } 
.dmc704 { background-color: rgb(136, 197, 58); } 
.dmc712 { background-color: rgb(246, 239, 218); } 
.dmc718 { background-color: rgb(203, 32, 137); } 
.dmc720 { background-color: rgb(200, 58, 36); } 
.dmc721 { background-color: rgb(244, 100, 64); } 
.dmc722 { background-color: rgb(249, 135, 86); } 
.dmc725 { background-color: rgb(249, 193, 91); } 
.dmc726 { background-color: rgb(253, 219, 99); } 
.dmc727 { background-color: rgb(253, 233, 139); } 
.dmc728 { background-color: rgb(242, 174, 63); } 
.dmc729 { background-color: rgb(206, 150, 87); } 
.dmc730 { background-color: rgb(99, 82, 11); } 
.dmc732 { background-color: rgb(129, 119, 49); } 
.dmc733 { background-color: rgb(167, 138, 68); } 
.dmc734 { background-color: rgb(213, 186, 110); } 
.dmc738 { background-color: rgb(226, 183, 131); } 
.dmc739 { background-color: rgb(242, 222, 185); } 
.dmc740 { background-color: rgb(253, 111, 26); } 
.dmc741 { background-color: rgb(252, 139, 16); } 
.dmc742 { background-color: rgb(253, 174, 60); } 
.dmc743 { background-color: rgb(253, 215, 105); } 
.dmc744 { background-color: rgb(254, 232, 141); } 
.dmc745 { background-color: rgb(254, 235, 165); } 
.dmc746 { background-color: rgb(250, 242, 213); } 
.dmc747 { background-color: rgb(206, 233, 234); } 
.dmc754 { background-color: rgb(247, 201, 176); } 
.dmc758 { background-color: rgb(233, 159, 131); } 
.dmc760 { background-color: rgb(248, 180, 173); } 
.dmc761 { background-color: rgb(248, 180, 173); } 
.dmc762 { background-color: rgb(209, 208, 210); } 
.dmc772 { background-color: rgb(215, 239, 167); } 
.dmc775 { background-color: rgb(212, 227, 239); } 
.dmc777 { background-color: rgb(155, 0, 66); } 
.dmc778 { background-color: rgb(220, 166, 164); } 
.dmc779 { background-color: rgb(83, 51, 45); } 
.dmc780 { background-color: rgb(148, 80, 38); } 
.dmc782 { background-color: rgb(178, 105, 35); } 
.dmc783 { background-color: rgb(208, 136, 61); } 
.dmc791 { background-color: rgb(45, 32, 104); } 
.dmc792 { background-color: rgb(69, 75, 139); } 
.dmc793 { background-color: rgb(124, 130, 181); } 
.dmc794 { background-color: rgb(160, 178, 215); } 
.dmc796 { background-color: rgb(39, 34, 118); } 
.dmc797 { background-color: rgb(43, 50, 136); } 
.dmc798 { background-color: rgb(78, 92, 167); } 
.dmc799 { background-color: rgb(107, 127, 192); } 
.dmc800 { background-color: rgb(181, 199, 233); } 
.dmc801 { background-color: rgb(96, 57, 29); } 
.dmc803 { background-color: rgb(31, 50, 121); } 
.dmc807 { background-color: rgb(85, 139, 158); } 
.dmc809 { background-color: rgb(145, 159, 213); } 
.dmc813 { background-color: rgb(127, 160, 198); } 
.dmc814 { background-color: rgb(113, 16, 51); } 
.dmc815 { background-color: rgb(128, 11, 52); } 
.dmc816 { background-color: rgb(146, 18, 56); } 
.dmc817 { background-color: rgb(187, 22, 48); } 
.dmc818 { background-color: rgb(254, 222, 221); } 
.dmc819 { background-color: rgb(252, 235, 222); } 
.dmc820 { background-color: rgb(49, 8, 140); } 
.dmc822 { background-color: rgb(232, 223, 199); } 
.dmc823 { background-color: rgb(0, 11, 68); } 
.dmc824 { background-color: rgb(40, 71, 121); } 
.dmc825 { background-color: rgb(52, 88, 143); } 
.dmc826 { background-color: rgb(80, 117, 167); } 
.dmc827 { background-color: rgb(164, 193, 222); } 
.dmc828 { background-color: rgb(195, 215, 230); } 
.dmc829 { background-color: rgb(100, 72, 12); } 
.dmc830 { background-color: rgb(110, 80, 29); } 
.dmc831 { background-color: rgb(124, 95, 32); } 
.dmc832 { background-color: rgb(156, 114, 48); } 
.dmc833 { background-color: rgb(185, 153, 86); } 
.dmc834 { background-color: rgb(210, 180, 104); } 
.dmc838 { background-color: rgb(74, 48, 33); } 
.dmc839 { background-color: rgb(90, 60, 45); } 
.dmc840 { background-color: rgb(122, 89, 57); } 
.dmc841 { background-color: rgb(163, 125, 100); } 
.dmc842 { background-color: rgb(203, 176, 148); } 
.dmc844 { background-color: rgb(73, 72, 66); } 
.dmc869 { background-color: rgb(120, 76, 40); } 
.dmc890 { background-color: rgb(50, 66, 51); } 
.dmc891 { background-color: rgb(238, 50, 70); } 
.dmc892 { background-color: rgb(244, 71, 83); } 
.dmc893 { background-color: rgb(246, 104, 121); } 
.dmc894 { background-color: rgb(253, 149, 163); } 
.dmc895 { background-color: rgb(52, 75, 46); } 
.dmc898 { background-color: rgb(83, 47, 27); } 
.dmc899 { background-color: rgb(234, 107, 120); } 
.dmc900 { background-color: rgb(198, 49, 23); } 
.dmc902 { background-color: rgb(101, 19, 41); } 
.dmc904 { background-color: rgb(56, 99, 36); } 
.dmc905 { background-color: rgb(70, 121, 36); } 
.dmc906 { background-color: rgb(108, 158, 41); } 
.dmc907 { background-color: rgb(157, 199, 45); } 
.dmc909 { background-color: rgb(16, 107, 67); } 
.dmc910 { background-color: rgb(16, 129, 78); } 
.dmc911 { background-color: rgb(16, 146, 86); } 
.dmc912 { background-color: rgb(54, 178, 107); } 
.dmc913 { background-color: rgb(85, 202, 125); } 
.dmc915 { background-color: rgb(149, 8, 90); } 
.dmc917 { background-color: rgb(172, 16, 113); }
.dmc918 { background-color: rgb(136, 54, 48); }
.dmc919 { background-color: rgb(155, 55, 27); }
.dmc920 { background-color: rgb(171, 72, 54); }
.dmc921 { background-color: rgb(192, 87, 61); }
.dmc922 { background-color: rgb(221, 110, 76); }
.dmc924 { background-color: rgb(56, 74, 74); }
.dmc926 { background-color: rgb(97, 118, 116); }
.dmc927 { background-color: rgb(159, 168, 165); }
.dmc928 { background-color: rgb(192, 198, 192); }
.dmc930 { background-color: rgb(73, 92, 107); }
.dmc931 { background-color: rgb(102, 118, 132); }
.dmc932 { background-color: rgb(147, 160, 175); }
.dmc934 { background-color: rgb(50, 51, 36); }
.dmc935 { background-color: rgb(56, 58, 42); }
.dmc936 { background-color: rgb(63, 66, 39); }
.dmc937 { background-color: rgb(67, 79, 44); }
.dmc938 { background-color: rgb(69, 39, 26); }
.dmc939 { background-color: rgb(9, 9, 47); }
.dmc943 { background-color: rgb(0, 154, 119); }
.dmc945 { background-color: rgb(246, 193, 154); }
.dmc946 { background-color: rgb(237, 65, 21); }
.dmc947 { background-color: rgb(251, 103, 33); }
.dmc948 { background-color: rgb(253, 230, 211); }
.dmc950 { background-color: rgb(229, 172, 141); }
.dmc951 { background-color: rgb(250, 221, 182); }
.dmc954 { background-color: rgb(111, 218, 138); }
.dmc955 { background-color: rgb(168, 235, 173); }
.dmc956 { background-color: rgb(247, 86, 109); }
.dmc957 { background-color: rgb(253, 153, 175); }
.dmc958 { background-color: rgb(13, 178, 148); }
.dmc959 { background-color: rgb(114, 208, 183); }
.dmc961 { background-color: rgb(235, 113, 131); }
.dmc962 { background-color: rgb(222, 88, 108); }
.dmc963 { background-color: rgb(253, 204, 209); }
.dmc964 { background-color: rgb(165, 228, 212); }
.dmc966 { background-color: rgb(148, 210, 138); }
.dmc967 { background-color: rgb(255, 194, 172); }
.dmc970 { background-color: rgb(251, 103, 33); }
.dmc972 { background-color: rgb(251, 159, 17); }
.dmc973 { background-color: rgb(252, 205, 45); }
.dmc975 { background-color: rgb(129, 60, 17); }
.dmc976 { background-color: rgb(207, 117, 50); }
.dmc977 { background-color: rgb(236, 143, 67); }
.dmc986 { background-color: rgb(46, 82, 48); }
.dmc987 { background-color: rgb(67, 104, 56); }
.dmc988 { background-color: rgb(102, 146, 74); }
.dmc989 { background-color: rgb(113, 167, 78); }
.dmc991 { background-color: rgb(19, 95, 85); }
.dmc992 { background-color: rgb(66, 181, 158); }
.dmc993 { background-color: rgb(98, 216, 182); }
.dmc995 { background-color: rgb(0, 97, 176); }
.dmc996 { background-color: rgb(73, 168, 235); }
.dmcb5200 { background-color: rgb(252, 252, 255); }
.dmcblanc { background-color: rgb(238, 238, 238); }
.dmcL3790 { background-color: rgb(207, 0, 83); }