* { font-family: Verdana, sans-serif }

h1 { font-size: 106%; }

.row {
    display: table;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.d, .f, .r, .w, x, .e, .b, .c, .g, .hg, .tr, .ws, .ww, .sld { 
    display: table-cell;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
 
    width: 18px; 
    height: 18px;
    min-height: 18px;
    min-width: 18px; 
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    margin: 0; 
    padding: 0;
    font-size: 12px;
    line-height: 12px;
    padding-top: 3px;
    text-align: center;
    cursor: hand;
}

.r { background-color: #999999; }
.f { background-color: #F5DEB3; } 
.w { background-color: #00FFFF; }
.e { background-color: #FFFFFF; }
.b { background-color: #FF0000; }
.c { background-color: #FFFF00; }
.g { background-color: #EFEFEF; }
.hg { background-color: #66DD66; }
.tr { background-color: #33EE33; }
.ws { background-color: #666666; }
.ww { background-color: #6D6036; }

.tb { border-top: 1px solid red; }
.bb { border-bottom: 1px solid red; }
.lb { border-left: 1px solid red; }
.rb { border-right: 1px solid red; }

.sld { border: dashed 1px red; }

.e:hover {
    background-color: #EFEFEF; 
}

#legendForm {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 170px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

#close { cursor: hand; position: absolute; right: 10px; }
#form { font-size: 11px; }