body {
    overflow: hidden;
}
.swiper-container {
    margin: auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-bottom: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}
.swiper-slide:nth-child(2n) {
    width: 100%;
}
.swiper-slide:nth-child(3n) {
    width: 10%;
}

.jp_video {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
}

.slideBox { width: 100%; text-align: center; padding: 20px; }
.slideText { font-family: 'Open Sans Condensed', sans-serif; color: #FFF; }
